<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Weather</title>
<link rel="stylesheet"
	th:src="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Hello World!</h1>
	<div class="row">
		<div class="container">
			<div class="col-md-3"></div>
			<div class="col-md-6" layout:fragment="content">Page content
				goes here</div>
			<div class="col-md-3"></div>
			<div layout:fragment="content">
				<span th:text="|Hello ${name}|" />, did you know that <span
					th:utext="${formatted}" /> is <span th:text="${formatted}" /> in
				HTML?
			</div>
		</div>
	</div>
<!-- 	<th:block layout:fragment="scripts"></th:block> -->
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>