
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Weather</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
	<span th:text="${date}"></span>
	<th:block layout:fragment="scripts"></th:block>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>