
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Weather</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
		<div>
			<h1 th:text="${city}"></h1>
			<span th:text="${current_temperature}"></span>
			<p>Current</p>
			<div>
				<p>Min</p>
				<p th:text="${min_temperature}"></p>
			</div>
			<div>
				<p>Max</p>
				<p th:text="${max_temperature}"></p>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>Day 1</th>
					<th>Day 2</th>
					<th>Day 3</th>
					<th>Day 4</th>
					<th>Day 5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th:block th:each="daily : ${daily_forecast}">
						<td th:text="${daily.temperature_average}"></td>
					</th:block>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block layout:fragment="scripts"></th:block>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>